@media(max-width:1100px) {
    .box1 {

        width: 50%;
        margin-top: 20px;
    }

    .contain2 .con1,
    .contain2 .con2,
    .con1aa,
    .contain3 .con1a {
        width: 100%;
    }
    .sub-contain6 .col1,
    .contain8 .col1{
        width: 45%;
    }

    .contain9 .col1 {
        width: 45%;
    }

    .f1,
    .f2{
        width: 90%;
        padding: 20px 0px;
    }

 .hea3 .u{
    left: -200px;
 }   
}


@media(max-width:800px) { 

    .box1,
.women,
    .shose,
    .contain5 .con1,
    .contain5 .con2 {

        width: 100%;
    }

    .hea3 li{
        display: block;

    }
    
}

@media(max-width:500px) {
    
    .sub-contain6 .col1,
    .contain8 .col1,
    .contain9 .col1 
    {
        width: 100%;
    }

    .contain9 .col1{
        width: 90%;
    }
    /* .hea3 .u{
        left: -10px;
     }    */


}